<app-header></app-header>
<div class="travel-notice-container">
    <div class="travel-pic">
        <div class="parallax"></div>
    </div>
    <div class="container">
        <div class="col">
            <h3>What You Need to Know About Travel and COVID-19</h3>
            <hr>
            <p>As the world continues to navigate the ongoing COVID-19 pandemic, Tripadvisor is ready to assist travelers
                throughout this challenging period. Read on for up-to-date travel info on global destinations, ways you can
                help stop the spread of COVID-19, and tools and resources for staying abreast of this ever-changing
                situation.</p>
        </div>
            <div class="col">
                <h3>What to Do When Returning Home From a Trip</h3>
                <hr>
                <p>Travelers returning home are advised to self-monitor for symptoms for 14 days and follow their country’s
                    national protocols, which may include self-quarantine for the incubation period.</p>
        
                <p>Common signs of infection include shortness of breath, breathing difficulties, fever, and cough. In more
                    severe cases, it can lead to pneumonia, organ failure, and death. </p>
        
                <p> If symptoms do occur, travelers are advised to seek medical care and inform healthcare providers of their
                    symptoms and their travel history.</p>
            </div>
        <div class="col source">
            <p>Travel notice courtsey of TripAdvisor.com</p>
        </div>
    </div>
</div>
<app-footer></app-footer>