.responsive {
  width: 100%;
  height: auto;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {
  margin: 20px 0;
  width: 100%;
}

input {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  border: 1px solid #444444;
  border-radius: 20px;
  padding: 5px 0;
  width: 100%;
}

button {
  background-color: #f8d48c;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  padding: 5px 0;
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
  transition: 0.3s;
  background-color: #f3ca78;
  opacity: 1;
}

.parallax {
  /* The image used */
  background-image: url('https://images.unsplash.com/photo-1516370873344-fb7c61054fa9?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80');
  opacity: 0.7;
  /* Full height */
  height: 130px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plan { 
    position: absolute;
    left: 0;
    top: 200px;
    width: 100%;
    text-align: center;
    font-size: 65px;
    font-weight: 600;
    color: #000;
    } 