<app-header></app-header>
<div class="search-container">
    <div class="search-pic">
        <img src="https://i.ibb.co/vxvL3Ts/planyourtrip.png" alt="planyourtrip" class="responsive" border="0">
    </div>
    <div class="search">
        <form class="search-form" #searchForm="ngForm" (submit)="searchFormSubmitted(searchForm.value)">
            <input type="text" name="city" placeholder="City" ngModel>
            <button class="search" type="submit">Search</button>
        </form>
    </div>
    <p>Search Results </p>
</div>
<!-- for kentrell: google api here???? -->
<app-beaches></app-beaches>
<app-footer></app-footer>