* { 
    color: black;
}

a { 
    color: #444444;
    font-size: 14px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.navbar { 
    margin: 0 10px;
}

.home-title { 
    font-weight: 800;
    font-size: 40px;
    margin: 0;
}

.lifes-a-beach { 
    text-decoration: none;
}

.material-icons.md-48 { 
    font-size: 48px; 
}

.travel-notice { 
    display: flex;
    justify-content: center;
    color: #444444;
    padding: 5px 0;
    cursor: pointer;
}

.top-nav { 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 40px;
    text-decoration: none;
    font-size: 25px;
    color: #444444;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #818181;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    color: white;
    padding: 10px 15px;
    border: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
.travel-notice {
    padding: 8px 0;
}

/* .title {
    position: relative;
    transform: rotate(-90deg);
    top: 400px;
    left: 240px;
} */

.home-title { 
    font-size: 50px;
    font-weight: 800;
}

.nav-link { 
    font-size: 18px;
    padding: 20px;
}

.nav-link:hover { 
    /* transition: 0.3s; */
    background-color: #444444;
    color: #ffffff;
    border-radius: 20px;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* .home-container { 
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;
  } */
} 
