* { 
    color: black;
}

a { 
    color: #444444;
    font-size: 14px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.navbar { 
    margin: 0 25px;
    padding: 0;
}

.home-title { 
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}

.lifes-a-beach { 
    text-decoration: none;
}

.material-icons.md-48 { 
    font-size: 48px; 
}

.travel-notice { 
    display: flex;
    justify-content: center;
    color: #444444;
    border-bottom: 1px solid #444444;
    padding: 5px 0;
    cursor: pointer;
}

.top-nav { 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #444444;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    color: white;
    padding: 10px 15px;
    border: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .travel-notice {
        padding: 5px 0;
    }
    
    .home-title { 
        font-size: 50px;
        font-weight: 600;
    }
    
    a.nav-link { 
        font-size: 18px;
        padding: 12px;
        border: 1px solid white;
        border-radius: 25px;
    }
    
    a.nav-link:hover{ 
        transition: 0.7s;
        color: #ffffff;
        background-color: #444444;
        border-radius: 25px;
    }
    
    a.nav-link:hover{ 
        color: #ffffff;
    }
    
    .dropdown-menu { 
        padding: 10px;
        border: 1px solid #444444;
        border-radius: 25px;
    }
    
    .dropdown-item { 
        font-size: 16px;
        padding: 8px;
    }
    
    .dropdown-item:hover { 
        background-color: #cacaca;
    }
    
    

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
/* .travel-notice {
    padding: 5px 0;
}

.home-title { 
    font-size: 50px;
    font-weight: 600;
}

a.nav-link { 
    font-size: 18px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 25px;
}

a.nav-link:hover{ 
    transition: 0.7s;
    color: #ffffff;
    background-color: #444444;
    border-radius: 25px;
}

a.nav-link:hover{ 
    color: #ffffff;
}

.dropdown-menu { 
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 25px;
}

.dropdown-item { 
    font-size: 16px;
    padding: 8px;
}

.dropdown-item:hover { 
    background-color: #cacaca;
}*/
} 

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* .home-container { 
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;
  } */
} 
