<div class="travel-notice">
    <a [routerLink]="['/covid19-travel-notice']">
        Travel Notice: Learn More About COVID-19
    </a>
</div>

<div class="top-nav">
    <div class="title">
        <a [routerLink]="['/home']" class="lifes-a-beach">
            <h1>Life's a Beach</h1>
        </a>
    </div>
    <div class="links">
        <button class="openbtn" onclick="openNav()"><span class="material-icons">menu</span></button>  
        <!-- ☰ -->
    </div>
</div>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a [routerLink]="['/about-lifes-a-beach']">Our Services</a>
    <a [routerLink]="['/search']">Plan Your Trip</a>
    <a [routerLink]="['/covid19-travel-notice']">COVID-19 Travel Notice</a>
    <a [routerLink]="['/meet-the-team']">Meet The Team</a>
 </div>



