p {
  text-align: center;
  margin: 15px 10px;
}

p.content-header { 
  font-size: 40px;
  font-weight: 600;
}

.travel-notice { 
  display: flex;
  justify-content: center;
  color: #444444;
  padding: 5px 0;
  cursor: pointer;
}

.main-content {
  margin: 0;
  padding: 0;
}

.responsive {
  width: 100%;
  height: auto;
}

.round-img {
  border: 2px solid #F8D48C;
  border-radius: 50%;
  width: 325px;
  height: 325px;
}

.plan-your-trip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 25px;
  /* position: relative;
  top: -100px; */
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

input {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 200;
  border: none;
  border-bottom: 1px solid grey;
  width: 85px;
}

.home-search {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  background-color: #F8D48C;
  color: white;
  padding: 13px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.home-search:hover {
  opacity: 0.75;
  transition: 0.3s;
  background-color: #f3ca78;
  opacity: 1;
}

/* #F2E5BD */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .plan-your-trip { 
    margin-bottom: 40px;
  }

  .round-img { 
    width: 400px;
    height: 400px;
  }

  .carousel{
    margin-top: 50px;
  }
  .carousel-inner{
    height: 100px;
  }
  .carousel-caption{
    color: #fff;
    top: 50%;
  }
}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  p.content-header { 
    font-size: 45px;
  }

  .home-container { 
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;
  }

  .plan-your-trip { 
    position: relative;
    bottom: 15px;
    /* left: 15px; */
    margin: auto;
  }

  .round-img { 
    width: 400px;
    height: 400px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

} 