<app-header></app-header>
<div class="main">
    <div class="home-container">
        <div class="main-content">
            <img src="https://i.ibb.co/VMvsfpC/ryan-christodoulou-LDr-SJ3cjau-Y-unsplash.jpg"
                alt="girl-on-beach-swing-palm-tree" class="responsive">
        </div>
        <div class="plan-your-trip">
            <p class="content-header">Plan Your Trip</p>
            <img src="https://i.ibb.co/yFgbqX3/photo-1530618225835-d6c8df1559c2.jpg" alt="ocean-view-pier"
                class="round-img responsive">
            <p class="content">Travel, play around, watch the sunset, and enjoy beautiful views of the beach.</p>
            <a [routerLink]="['/search']" (click)="scrollToTop()"><button class="home-search" type="submit">Set Sail to Fun</button></a>
        </div>
    </div>
</div>
<app-footer></app-footer>