<app-header></app-header>
<div class="main-content">
    <img src="https://i.ibb.co/yYCqr18/photo-1523538290088-51e3e7d1c00d.jpg" alt="women-beach-palm-tree" class="responsive">
</div>
<div class="plan-your-trip">
    <h1>Plan Your Trip</h1>
    <img src="https://i.ibb.co/yFgbqX3/photo-1530618225835-d6c8df1559c2.jpg" alt="ocean-view-pier" class="round-img">
    <p>Travel, play around, watch the sunset, and enjoy beautiful reviews of the beach</p>
</div>
<!-- <google-map></google-map> -->
<app-footer></app-footer>
