<app-header></app-header>
<div class="main">
    <div class="home-container">
        <div class="main-content">
            <img src="https://i.ibb.co/VMvsfpC/ryan-christodoulou-LDr-SJ3cjau-Y-unsplash.jpg"
                alt="girl-on-beach-swing-palm-tree" class="responsive">
        </div>
        <div class="plan-your-trip">
            <p class="content-header">Plan Your Trip</p>
            <img src="https://i.ibb.co/yFgbqX3/photo-1530618225835-d6c8df1559c2.jpg" alt="ocean-view-pier"
                class="round-img responsive">
            <p class="content">Travel, play around, watch the sunset, and enjoy beautiful views of the beach.</p>
            <a [routerLink]="['/search']"><button class="home-search" type="submit">Set Sail to Fun</button></a>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p> Best time of my life</p>
                    </div>
                    <div class="carousel-item">
                        <p> Planned a V-Day trip for my partner and now we have memories worth a lifetime</p>
                    </div>
                    <div class="carousel-item">
                        <p>The only app I need!!!</p>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>