<app-header></app-header>

<!-- PARALLAX BACKGROUND HEADER -->
<div *ngIf="!showDetail">
  <div class="parallax"></div>
  <div class="parallax"></div>
  <div class="plan">
    Plan Your Trip
  </div>
</div>

<!-- SEARCH INPUT + GOOGLE MAP -->
<div *ngIf="!showDetail" class="search">
  <div class="container sticky-search">
    <app-search (search)="search()"></app-search>
    <google-map [zoom]="zoom" [center]="center" [options]="options" width="100%" class="google">
      <map-marker #markerItem="mapMarker" *ngFor="let marker of getMarkers()"
        (mapClick)="openInfo(markerItem, marker.info)" [position]="marker.position" [label]="marker.label"
        [title]="marker.title" [options]="{animation: marker.animation, icon: marker.icon }" [animation]="setAnimation">
      </map-marker>

      <map-info-window>
        <h3>{{infoContent?.placeName}}</h3>
        <h4>{{infoContent?.address}}</h4>
        <h5>{{infoContent?.rating}}</h5>
      </map-info-window>

    </google-map>
  </div>

  <!-- SMALL RESULTS CARD WITH MINIMAL DETAILS  -->
  <div *ngIf="!showDetail" class="container search-results">
    <p>Top Results</p>
    <div class="panel panel-primary" *ngFor="let beach of getBeaches()">
      <div class="panel-heading">
        <h3 class="row panel-title">{{ beach.name }}</h3>
        <span class="material-icons favorite" (click)="addFavorites(beach)" id="favorite-icon">favorite</span>
      </div>
      <div class="panel-body">
        <div class="more-body">
          <div class="info-container">
            <span class="material-icons location">location_on</span>
            {{ beach.formatted_address }}
          </div>
          <div class="info-container">
            <span class="material-icons rating">stars</span>
            Rating: {{beach.rating}}</div>
        </div>
        <div class="more-details" (click)="displayDetail(beach)">
          Details
        </div>

      </div>
    </div>
  </div>
</div>


<!-- ----- BEACH DETAILS PAGE -----  -->
<div *ngIf="showDetail">
  <div class="parallax-result"></div>
  <div class="parallax-result"></div>
  <div class="beach-name-result-parallax">
    {{ selectedBeach.name }}
  </div>
  <div class="container results-container">
    <div class="container results-basics-container">
      <div class="basic-info">
        <h5><span class="material-icons icon-link" (click)="showDetail = false">close</span></h5>
        <h5>{{ selectedBeach.formatted_address }} </h5>
        <p>Rating: {{ selectedBeach.rating }}</p>
        <span class="material-icons favorite" (click)="addFavorites(beach)">favorite</span>
      </div>
      <div class="currently">
        <div class="current-header">
          <h6>Current Weather</h6>
        </div>
        <div class="current-info">
          <p>Temperature: {{ selectedBeach.weatherInfo?.data.weather[0].hourly[0].tempF }}° F</p>
          <p>Water Temperature: {{ selectedBeach.weatherInfo?.data.weather[0].hourly[0].waterTemp_F }}° F</p>
          <p>Wind Speed:
            {{ selectedBeach.weatherInfo?.data.weather[0].hourly[0].winddir16Point }}
            {{ selectedBeach.weatherInfo?.data.weather[0].hourly[0].windspeedMiles }} mph</p>
        </div>
      </div>
    </div>
    <div class="results-body">
      <div class="container results-body-container">
        <h3>Today's Forecast</h3>
        <div class="today-container">
          <div class="today">
            <h5><img [src]="selectedBeach.weatherInfo?.data.weather[0].hourly[4].weatherIconUrl[0].value"
                class="beach-weather-icon"></h5>
            <h4>{{ selectedBeach.weatherInfo?.data.weather[0].hourly[0].weatherDesc[0].value }}</h4>
            <div class="today-info">
              <div class="today-high-low">
                <h5><b>{{ selectedBeach.weatherInfo?.data.weather[0].maxtempF }}° F</b> /
                  {{ selectedBeach.weatherInfo?.data.weather[0].mintempF }}° F</h5>
              </div>
              <div class="today-conditions">
                <div class="today-left">
                  <p>Sunrise: {{ selectedBeach.weatherInfo?.data.weather[0].astronomy[0].sunrise }}</p>
                </div>
                <div class="today-right">
                  <p> Sunset: {{ selectedBeach.weatherInfo?.data.weather[0].astronomy[0].sunset }} </p>
                </div>
              </div>
              <div class="today-conditions">
                <div class="today-left">
                  <p>Moonrise: {{ selectedBeach.weatherInfo?.data.weather[0].astronomy[0].moonrise }}</p>
                </div>
                <div class="today-right">
                  <p> Moonset: {{selectedBeach.weatherInfo?.data.weather[0].astronomy[0].moonset }} </p>
                </div>
              </div>
              <div class="today-conditions">
                <div class="today-left">
                  <p>Cloud Coverage: {{ selectedBeach.weatherInfo?.data.weather[0].hourly[0].cloudcover }}%</p>
                </div>
                <div class="today-right">
                  <p>Humidity: {{ selectedBeach.weatherInfo?.data.weather[0].hourly[0].humidity }}% </p>
                </div>
              </div>
            </div>
          </div>
          <div class="table-container tide table-responsive-sm">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>Tide</th>
                  <th>Height</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ selectedBeach.weatherInfo?.data.weather[0].tides[0].tide_data[0].tideTime }}</td>
                  <td>{{ selectedBeach.weatherInfo?.data.weather[0].tides[0].tide_data[0].tide_type }}</td>
                  <td>{{ selectedBeach.weatherInfo?.data.weather[0].tides[0].tide_data[0].tideHeight_mt }} m</td>
                </tr>
                <tr>
                  <td>{{ selectedBeach.weatherInfo?.data.weather[0].tides[0].tide_data[2].tideTime }}</td>
                  <td>{{ selectedBeach.weatherInfo?.data.weather[0].tides[0].tide_data[2].tide_type }}</td>
                  <td>{{ selectedBeach.weatherInfo?.data.weather[0].tides[0].tide_data[2].tideHeight_mt }} m</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="container results-body-container">
        <h3>Hourly</h3>
        <div class="table-container table-responsive-sm">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Time</th>
                <th>Temperature</th>
                <th>Weather Description</th>
                <th>Cloud Coverage</th>
                <th>Humidity</th>
                <th>Wind Speed</th>
                <th>Swell</th>
              </tr>
            </thead>
            <tbody *ngFor="let hourly of selectedBeach.weatherInfo?.data.weather[0].hourly">
              <tr>
                <td>{{ hourly.time }}</td>
                <td>{{ hourly.FeelsLikeF }}° F</td>
                <td>
                  <img [src]="hourly.weatherIconUrl[0].value" class="weather-table-icons">
                  {{ hourly.weatherDesc[0].value }}
                </td>
                <td>{{ hourly.cloudcover }}%</td>
                <td>{{ hourly.humidity }}%</td>
                <td>{{ hourly.winddir16Point }} {{ hourly.windspeedMiles }} mph</td>
                <td> {{ hourly.swellHeight_m}} m / {{ hourly.swellDir16Point }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container results-body-container">
        <h3>This Week</h3>
        <div class="container-fluid" margin="20px 0">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto">
              <div class="carousel-item col-md-4 active" *ngFor="let weekly of selectedBeach.weatherInfo?.data.weather">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ weekly.date }}</h5>
                    <img [src]="weekly.hourly[4].weatherIconUrl[0].value" class="beach-weather-icon">
                    <p class="card-text">{{ weekly.hourly[4].weatherDesc[0].value}}</p>
                    <p class="card-text"><b>{{ weekly.maxtempF }}° F</b>/ {{ weekly.mintempF }}° F</p>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>


      </div>
    </div>
  </div>


  <!-- ----- OG CARD -----  -->
  <!-- <div *ngIf="showDetail">
  <button (click)="showDetail = false">X</button>
  <div class="beach-card">
    <h2><strong>{{selectedBeach.name}}</strong></h2>
    <h2><strong>{{selectedBeach.formatted_address}}</strong></h2>
    <h2><strong>{{selectedBeach.rating}}</strong></h2> -->
  <!--Possible image goes here-->
  <!-- <div>
      <p>Water Temp</p>
      <p>{{ selectedBeach.weatherInfo?.data.weather[0].hourly[0].waterTemp_F }}</p>
      <p>Tide</p>
      <p>{{ selectedBeach.weatherInfo?.data.weather[0].tides[0].tide_data[0].tideTime}}</p> 
      <p>{{selectedBeach.weatherInfo?.data.weather[0].tides[0].tide_data[0].tide_type}}</p> 

      <p>{{ selectedBeach.weatherInfo?.data.weather[0].tides[0].tide_data[2].tideTime}}</p> 
      <p>{{selectedBeach.weatherInfo?.data.weather[0].tides[0].tide_data[2].tide_type}}</p> 
    </div>
    <div *ngFor="let hourly of selectedBeach.weatherInfo?.data.weather[0].hourly">
      <p>Hourly </p>
      <p>time: {{ hourly.time }}</p>
      <p>{{ hourly.FeelsLikeF }}</p>
      <p>Wind Speed</p>
      <p>{{ hourly.windspeedMiles }}</p>
      <p>Weather Description</p>
      <p>{{ hourly.weatherDesc[0].value }}</p>
      <p>Weather Icon</p>
      <img [src]="hourly.weatherIconUrl[0].value">
    </div>
    <h2><strong>Current Weather conditions</strong></h2>
    <p>Daily Forecast</p>
    <p>Today's High: {{selectedBeach.weatherInfo?.data.weather[0].maxtempF}} ,
      Today's Low: {{selectedBeach.weatherInfo?.data.weather[0].mintempF}}</p>
    <img [src]="selectedBeach.weatherInfo?.data.weather[0].hourly[4].weatherIconUrl[0].value">
    <p>Sunrise: {{selectedBeach.weatherInfo?.data.weather[0].astronomy[0].sunrise}},
      Sunset: {{selectedBeach.weatherInfo?.data.weather[0].astronomy[0].sunset}}
      MoonPhase: {{selectedBeach.weatherInfo?.data.weather[0].astronomy[0].moon_phase}}</p>

    <p>Tomorrows's High: {{selectedBeach.weatherInfo?.data.weather[1].maxtempF}} ,
      Tomorrows's Low: {{selectedBeach.weatherInfo?.data.weather[1].mintempF}}</p>
    <img [src]="selectedBeach.weatherInfo?.data.weather[1].hourly[4].weatherIconUrl[0].value">
    <p>Sunrise: {{selectedBeach.weatherInfo?.data.weather[1].astronomy[0].sunrise}},
      Sunset: {{selectedBeach.weatherInfo?.data.weather[1].astronomy[0].sunset}}
      MoonPhase: {{selectedBeach.weatherInfo?.data.weather[1].astronomy[0].moon_phase}}</p>

    <p>{{ selectedBeach.weatherInfo?.data.weather[2].date }} High:
      {{selectedBeach.weatherInfo?.data.weather[2].maxtempF}} ,
      {{ selectedBeach.weatherInfo?.data.weather[2].date }} Low: {{selectedBeach.weatherInfo?.data.weather[2].mintempF}}
    </p>
    <img [src]="selectedBeach.weatherInfo?.data.weather[2].hourly[4].weatherIconUrl[0].value">

    <p>Sunrise: {{selectedBeach.weatherInfo?.data.weather[2].astronomy[0].sunrise}},
      Sunset: {{selectedBeach.weatherInfo?.data.weather[2].astronomy[0].sunset}}
      MoonPhase: {{selectedBeach.weatherInfo?.data.weather[2].astronomy[0].moon_phase}}</p>

    <p>{{ selectedBeach.weatherInfo?.data.weather[3].date }} High:
      {{selectedBeach.weatherInfo?.data.weather[3].maxtempF}} ,
      {{ selectedBeach.weatherInfo?.data.weather[3].date }} Low: {{selectedBeach.weatherInfo?.data.weather[3].mintempF}}
    </p>
    <img [src]="selectedBeach.weatherInfo?.data.weather[3].hourly[4].weatherIconUrl[0].value">

    <p>Sunrise: {{selectedBeach.weatherInfo?.data.weather[3].astronomy[0].sunrise}},
      Sunset: {{selectedBeach.weatherInfo?.data.weather[3].astronomy[0].sunset}}
      MoonPhase: {{selectedBeach.weatherInfo?.data.weather[3].astronomy[0].moon_phase}}</p>

    <p>{{ selectedBeach.weatherInfo?.data.weather[4].date }} High:
      {{selectedBeach.weatherInfo?.data.weather[4].maxtempF}} ,
      {{ selectedBeach.weatherInfo?.data.weather[4].date }} Low: {{selectedBeach.weatherInfo?.data.weather[4].mintempF}}
    </p>
    <img [src]="selectedBeach.weatherInfo?.data.weather[4].hourly[4].weatherIconUrl[0].value">

    <p>Sunrise: {{selectedBeach.weatherInfo?.data.weather[4].astronomy[0].sunrise}},
      Sunset: {{selectedBeach.weatherInfo?.data.weather[4].astronomy[0].sunset}}
      MoonPhase: {{selectedBeach.weatherInfo?.data.weather[4].astronomy[0].moon_phase}}</p>


  </div>
</div> -->

  <app-footer></app-footer>