<app-header></app-header>

<div class="container about-container">
    <div class="col">
        <h3>About Life's A Beach</h3>
    </div>
    <hr>
    <div class="col">
        <p>Hello and welcome to "Life's a Beach" an all-in-one application created to improve the quality of life of nature lovers and beach go-ers. To give them an all in one place to go for their beachly needs- where they can search their destination city that’ll not only pull up surrounding beaches but give you details such as weather, water temps, and wind speeds. This removes the hassle of planning a trip by centralizing everything into one application. Our application utilizes different technologies such as Angular, various APIs, Bootstrap, a custom built proxy server, and much more. Not sure where the beaches are? Do a quick search and our application will pinpoint beaches on the map based on the provided city. Love a beach and want to save it for later? Add it to your favorites and have it on standby for when you decide to set sail to fun!</p>
    </div>
</div>

<div class="discover-container">
    <div class="col discover-places">
        <h3 class="discover-header">Discover new places</h3>
    </div>

    <div class="discover">
    <!-- Section: Icon Boxes -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <img src="https://images.unsplash.com/photo-1532963153324-b552a4464a21?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" class="card-img">
                    <div class="card-panel">
                        <!-- <i class="material-icons large teal-text">room</i> -->
                        <h4>Watch the stars</h4>
                    </div>
                </div>
                <div class="col s12 m4">
                    <img src="https://images.unsplash.com/photo-1562059392-096320bccc7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2243&q=80" class="card-img">
                    <div class="card-panel">
                        <h4>Play on the beach</h4>
                    </div>
                </div>
                <div class="col s12 m4">
                    <img src="https://images.unsplash.com/photo-1586905666187-dc9bda4b9b77?ixlib=rb-1.2.1&auto=format&fit=crop&w=2896&q=80" class="card-img">   
                    <div class="card-panel">
                    <h4>Catch sunsets</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>

    <div class="container popular-container">
    <!-- Popular Destinations Carousel -->
    <div class="col">
        <h3>Popular Destinations</h3>
    </div>
    <div class="container-fluid">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto">
                <div class="carousel-item col-md-4 active">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="https://i.ibb.co/LtZp19T/beach3.png"
                            alt="sunset-pier-palm-tree-santa-monica-california">
                        <div class="card-body">
                            <h4 class="card-title">Santa Monica Pier</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="https://i.ibb.co/mt5ks7K/beach4.png"
                            alt="tree-beach-great-lakes">
                        <div class="card-body">
                            <h4 class="card-title">The Great Lakes</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="https://i.ibb.co/mzwggKz/beach2.png" 
                            alt="palm-tree-sky-malibu-california">
                        <div class="card-body">
                            <h4 class="card-title">Malibu, California</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="https://i.ibb.co/w65Nwtc/beach1.png"
                            alt="stars-night-sky-beach">
                        <div class="card-body">
                            <h4 class="card-title">Belle Isle</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="https://i.ibb.co/h79yKdG/beach6.png"
                            alt="haystack-rock-canon-beach-oregon">
                        <div class="card-body">
                            <h4 class="card-title">Haystack Rock</h4>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="https://i.ibb.co/J2vZd8v/beach5.png" 
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Myrtle Beach</h4>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div>
<app-footer></app-footer>