section { 
    background-color: #BAC6B2;
    padding-top: 75px;
    margin-bottom: 50px;
}

.about-container { 
    margin-top: 40px;
}

.discover-container {
    background-color: #BAC6B2; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin-top: 100px;
    margin-bottom: 50px;
    padding-right: 0;
    padding-left: 0;
}

.discover-header { 
    z-index: 12;
    position: relative; 
    text-align: center;
    background-color: #444444;
    color: #ffffff;
    padding: 12px 20px;
}

.discover-places { 
    /* z-index: 12; */
    position: relative;
    bottom: 35px;
    width: 350px;
}

.container.popular-container { 
    margin-bottom: 50px;
}

.card-panel { 
    background-color: #ffffff;
    border: 1px solid #444444;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
}

.card-img { 
    width: 516px; 
}

@media (min-width: 565px) { 
    .card-img { 
        width: 537px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .card-img { 
        width: 510px; 
    }
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }

  .card-img { 
    width: 690px; 
}
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .card-img { 
        width: 930px; 
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .card-img { 
        width: 350px; 
    }
} 