<app-header></app-header>
<!-- https://www.linkedin.com/in/william-craft/ -->
<!-- https://www.linkedin.com/in/kentrellrabon/ -->
<!-- https://www.linkedin.com/in/tanita-plaengprawat/ -->
<div class="container meet-header">
    <div class="col">
        <h2>Meet The Team</h2>
    </div>
</div>
<div class="how-section1">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="../../assets/Kentrell.jpg" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-md-6">
            <h4>Kentrell Rabon</h4>
            <h4 class="subheading"><a class="portfolio" href="https://www.linkedin.com/in/kentrellrabon/"><i
                        class="fab fa-linkedin"></i></a>
                <a class="portfolio" href="https://github.com/krabon24"><i class="fab fa-github"></i></a></h4>
            <p class="text-muted">Creative and people-oriented software developer graduate from Grand Circus
                passionate about developing user-friendly software applications.
                Created projects using front-end development, APIs such as google maps, AngularJS,
                and various other tech skills.
                Excellent problem-solving skills, and ability to productively collaborate well.
                Seeking to join a team, as well as grow, and develop my own skills as a coder.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Tanita Plaengprawat</h4>
            <h4 class="subheading">
                <a class="portfolio" href="https://www.linkedin.com/in/tanita-plaengprawat/">
                    <i class="fab fa-linkedin"></i></a>
                <a class="portfolio" href="https://github.com/tanitaplaeng">
                    <i class="fab fa-github"></i></a>
                <a class="portfolio" href="https://www.tanitaplaeng.com">
                    <i class="fab fa-squarespace"></i></a>
            </h4>
            <p class="text-muted">
                Bread enthusiast, designer, and front-end developer. I'm a first gen creative who enjoys problem solving
                working with programming languages such as HTML/CSS, JavaScript,and Angular. When I'm not daydreaming
                about being the worlds greatest computer wizard, you can find me baking in the kitchen or with my nose
                in a book (currently reading The Nightingale by Kristin Hannah).
            </p>
        </div>
        <div class="col-md-6 how-img">
            <img src="../../assets/Tanita.jpg" class="rounded-circle img-fluid" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="../../assets/William.jpg" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-md-6">
            <h4>William Craft</h4>
            <h4 class="subheading"><a class="portfolio" href="https://www.linkedin.com/in/william-craft/"><i
                        class="fab fa-linkedin"></i></a>
                <a class="portfolio" href="https://github.com/william-crafty1"><i class="fab fa-github"></i></a></h4>
            <p class="text-muted">My passion for writing code started at a young age writing simple
                Python programs. Coming into college, I worked with Java, SQL and more backend languages. However,
                as I dabbled with front-end languages such as HTML and JavaScript I
                learned that this is a better fit for me as it allows me to express my
                creativity which can be seen in my work with Grand Circus.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>